# Auto detect text files and perform LF normalization
* text=auto
*.md text eol=lf
*.py text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.bat text eol=crlf